* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/* 헤더 */
header {
    width: 100%;
    height: 130px;

    position: absolute;
    top: 0;
    left: 0;
}

header:hover {
    background-color: #FFFEF2;
}

.header_i {
    /* max-width: 1600px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
}

.header_top {
    display: flex;
    justify-content: space-between;
}

.header_top .header_left ul {
    display: flex;
    gap: 24px;
    padding: 20px 0 10px 30px;
    /* background-color: aqua; */
}

.header_top .header_right ul {
    display: flex;
    gap: 24px;
    padding: 20px 0 10px;
}

.header_top .header_left ul li,
.header_top .header_right ul li,
.header_top .header_right ul li button {
    font-size: 12px;
    font-weight: 600;
}

.header_top .header_right ul li button {
    background-color: transparent;
    border: none;
}

.header_top .header_center .logo {
    width: 164px;
    height: 64px;

    position: relative;
}

.header_top .header_center .logo img {
    width: 140px;
    height: 64px;

    position: absolute;
}


/* 메인메뉴 */
.header_btm {
    max-width: 1200px;
    height: 50px;
    margin: auto;

    background-color: aqua;

    display: flex;
}

.header_btm .mainmenu {
    font-size: 14px;

    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 34px;
}

.header_btm .search_box {
    width: 140px;
    padding: 0 16px;

    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}


.submenu {
    display: none;
}

/* 헤더 오른쪽 아이콘 */
.header_right_icon {
    display: none;
}