/* =========================
   01. 히어로
========================= */
.hero{
    width: 100%;
    height: 110vh;
    overflow: hidden;

    position: relative;

    margin-bottom: 100px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* =========================
   02. 히어로 이너 (텍스트)
========================= */
.hero_i{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    color: #FFFEF2;
    font-size: 14px;
}

.hero_i h2{
    font-size: 31px;
}


/* =========================
   03. 몰 / 알아보기 버튼
========================= */
.more{
    display: block;

    width: 390px;
    height: 48px;
    border: 1.5px solid #FFFEF2;
    align-content: center;

    transition: .3s;

    margin: auto;
}

.more:hover{
  background-color: #FFFEF2;
  color: #333;
}

.more:hover svg{
  color: #FFFEF2;
}

.more .more_i{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}