/* =========================
   01. 섹션5 퍼퓸
========================= */
.perfume {
  width: 100%;
  height: auto;

  display: flex;
  gap: 46px;

  padding: 100px 0;
}


/* =========================
   02. 퍼퓸 래프트
========================= */
.perfume_left {
  width: calc((100%/5)*3);
}


/* =========================
   03. 퍼퓸 라이트
========================= */
.perfume_right {
  width: calc((100%/5)*2);
  padding-right: 8%;
}

.perfume_right .textbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section_hero {
  font-size: 14px;
}

.section_title {
  font-size: 31px;
  font-weight: 400;
}


/* =========================
   04. 쇼 / 보러가기 버튼
========================= */
.show {
  display: block;

  width: 202px;
  height: 48px;
  border: 1px solid rgba(51, 51, 51, .2);
  align-content: center;
  background-color: transparent;

  transition: .3s;

  margin-top: 20px;
}

.show:hover {
  color: #FFFEF2;
  background-color: #333;
}


.show_i {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  font-size: 14px;
}

/* =========================
   . 반응형
========================= */
/* 1024 */
@media screen and (max-width: 63.99875em) {
  .perfume {
    flex-direction: column;
    padding: 50px 0;
  }

  .perfume_left {
    width: 100%;
    height: min(100vh, 100vw);
    overflow: hidden;
  }

  .perfume_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85% center;
    display: block;
  }

  .perfume_right {
    width: 100%;
    padding: 0 16px;
  }

  .perfume .show {
    width: 100%;
  }
}