/* =========================
   01. 섹션4 장인의 손길
========================= */
.master_hand {
  width: 100%;
  height: auto;
  background-color: #E5DFDC;

  display: flex;
  gap: 46px;

  padding: 100px 0;
}


/* =========================
   02. 장인의 손길 래프트
========================= */
.master_hand_left {
  width: calc((100%/5)*2);
  padding-left: 8%;
}

.master_hand_left .textbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section_hero {
  font-size: 14px;
}

.section_title {
  font-size: 31px;
  font-weight: 400;
}

/* =========================
   03. 장인의 손길 라이트
========================= */
.master_hand_right {
  width: calc((100%/5)*3);
}

/* =========================
   04. 쇼 / 보러가기 버튼
========================= */
.show {
  display: block;

  width: 202px;
  height: 48px;
  border: 1px solid rgba(51, 51, 51, .2);
  align-content: center;
  background-color: transparent;

  transition: .3s;

  margin-top: 20px;
}

.show:hover {
  color: #FFFEF2;
  background-color: #333;
}


.show_i {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  font-size: 14px;
}