/* =========================
   01. 섹션3 핸드 & 바디
========================= */
.hand_body {
  width: 100%;
  height: auto;

  padding: 100px 0;
}

.hand_body_i {
  max-width: 1280px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hand_body_i .textbox {
  text-align: center;
}

.hand_body_i .textbox .section_title,
.hand_body_i .textbox .section_hero {
  margin-bottom: 12px;
}

/* =========================
   02. 올박스
========================= */
.allbox {
  width: 100%;

  display: flex;
  align-items: center;
}

/* 보이는 카드박스 = 창문 */
.view {
  flex: 1;
  min-width: 0;
  overflow: hidden;

  cursor: grab;
  user-select: none;
}

.view:active {
  cursor: grabbing;
}

.view img {
  pointer-events: none;
}

/* =========================
   03. 올카드(필름띠)
========================= */
.allcard {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

/* =========================
   04. 카드
========================= */
.card {
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
}

.card .imgbox {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.card .imgbox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .imgbox .img_desc {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 11px;
  color: #AB7E51;
}

.card .imgbox a {
  display: block;
  width: 130px;
  height: 48px;
  border: 0.5px solid #33333345;
  text-align: center;
  align-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  opacity: 0;
}

.card .imgbox a:hover {
  background-color: #333;
  color: #fffef2;
}

.card .imgbox .hoverimg {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.card .imgbox:hover .hoverimg {
  opacity: 1;
}

.card .imgbox:hover a {
  opacity: 1;
}

/* 카드 텍스트 */
.cardtext {
  text-align: center;
}

.card_title {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 600;
}

.card_desc {
  display: block;
  font-size: 14px;
  margin-bottom: 40px;

  display: block;
  min-height: 42px;
  /* line-height: 21px; */
}

/* 텍스트바텀 */
.text_btm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.onesize_box {
  position: relative;
  width: 100%;
  height: 42px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onesize_box>.onesize {
  position: absolute;
  top: -8px;

  padding: 0 4px;
  background: #fffef2;

  font-size: 12px;
  color: #666;
}

.onesize_box>.ml {
  font-size: 14px;
}

/* 장바구니담기 버튼 */
.add {
  width: 100%;
  height: 48px;
  color: #fffef2;
  background-color: #333;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* =========================
   05. 화살표 & 막대
========================= */
.arrow {
  width: 40px;
  height: 30px;
  color: #333;
  background: transparent;
  border: none;
  cursor: pointer;
}

.arrow i {
  -webkit-text-stroke: 0.7px currentColor;
}

.arrow:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.card-pagination {
  display: none;
}

/* =========================
   06. 사이즈 선택박스
========================= */
.select_box {
  position: relative;
   width: 100%;
}

.select_box label {
  position: absolute;
  top: -8px;
  left: 16px;

  padding: 0 4px;
  background: #fffef2;

  font-size: 12px;
  color: #666;
  z-index: 1;
}

.select_box select {
  width: 100%;
  height: 42px;
  padding: 0 20px;

  border: 1px solid #d8d8cf;
  background: #fffef2;

  font-size: 14px;
  color: #333;

  appearance: none;
  cursor: pointer;
}

/* 밑으로 화살표 */
.select_box::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 50%;

  width: 10px;
  height: 10px;

  border-right: 3px solid #333;
  border-bottom: 3px solid #333;

  transform: translateY(-65%) rotate(45deg);

  pointer-events: none;
  /* 마우스 클릭이나 hover 이벤트를 받지 않게 */
}

@media screen and (max-width: 63.99875em) {

  .hand_body_i {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .allbox {
    position: relative;
    padding-bottom: 60px;
  }

  .view {
    width: 100%;
    overflow: hidden;
  }

  .allcard {
    gap: 20px;
  }

  /* 카드 2개 */
  .card {
    width: calc((100% - 20px) / 2);
    flex-shrink: 0;
  }

  /* 이미지 1:1 */
  .card .imgbox {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .card .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* hover 제거 */
  .card .imgbox .hoverimg,
  .card .imgbox:hover .hoverimg {
    opacity: 0;
  }

  .card .imgbox a,
  .card .imgbox:hover a {
    display: none;
  }

  .select_box,
  .onesize_box {
    width: 100%;
  }


  /* =========================
     하단 화살표
  ========================= */

  .arrow {
    position: absolute;
    bottom: 0;
    z-index: 2;
  }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }


  /* =========================
     가운데 막대
  ========================= */

  .card-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-top: -30px;
    position: relative;
    z-index: 3;
  }

  .card-bar {
    width: 32px;
    height: 2px;
    padding: 0;
    border: 0;
    background: #c7c7c0;
    cursor: pointer;
  }

  .card-bar.active {
    background: #333;
  }
}