/* =========================
   01. 섹션1 바디케어
========================= */
.bodycare {
  width: 100%;
  height: auto;
  background-color: #E5DFDC;

  display: flex;
  gap: 46px;

  padding: 100px 0;
}


/* =========================
   02. 바디케어 래프트
========================= */
.bodycare_left {
  width: calc((100%/5)*2);
  padding-left: 8%;
}

.bodycare_left .textbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section_hero {
  font-size: 14px;
}

.section_title {
  font-size: 31px;
  font-weight: 400;
}

/* =========================
   03. 바디케어 라이트
========================= */
.bodycare_right {
  width: calc((100%/5)*3);
}

/* =========================
   04. 쇼 / 보러가기 버튼
========================= */
.show {
  display: block;

  width: 202px;
  height: 48px;
  border: 1px solid rgba(51, 51, 51, .2);
  align-content: center;
  background-color: transparent;

  transition: .3s;

  margin-top: 20px;
}

.show:hover {
  color: #FFFEF2;
  background-color: #333;
}


.show_i {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  font-size: 14px;
}

/* =========================
   . 반응형
========================= */
@media screen and (max-width: 63.99875em) {
  .bodycare {
    flex-direction: column;
    padding: 0;
    padding-bottom: 50px;
    margin-top: 50px;
  }

  .bodycare_right {
    width: 100%;
    height: min(100vh, 100vw);
    overflow: hidden;

    order: -1;
  }

  .bodycare_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .bodycare_left {
    width: 100%;
    padding: 0 16px;
  }

  .bodycare .show {
    width: 100%;
  }
}